tr
  td(data-values='reference')!= '<%= reference %>'
  td(data-values='registrationNumber')!= '<%= registrationNumber %>'
  td(data-values='effectiveDate')!= '<%= _.beautifyDate(effectiveDate) %>'
  td(data-values='termDate')!= '<%= _.beautifyDate(termDate) %>'
  td(data-values='clientName')!= '<%= clientName %>'
  td(data-values='premium')!= '<%= _.beautifyAmount(premium) %>'
  td(data-actions="consult")