td(data-values='name')!= '<%= name %>'
td(data-values='amount')!= '<%= _.beautifyAmount(amount, true) %>'
td(data-values='tua')!= '<%= _.beautifyAmount(tua, true) %>'
td(data-values='fg')!= '<%= _.beautifyAmount(fg, true) %>'
td(data-values='commission')!= '<%= _.beautifyAmount(commission, true) %>'
