td(data-values='reference')
  a(href!= '# receipt/<%= reference %>/consult', title!= '<%= reference %>')
    button.btn-link(type='button')<%= reference %>
td(data-values='total')!= '<%= _.beautifyAmount(total, true) %>'
td(data-values='totalCommission')!= '<%= _.beautifyAmount(totalCommission, true)%>'
td(data-fields='toAffect')!='<%= _.beautifyAmount(toAffect, true)%>'
td(data-values='commissionAffected')!= '<%= _.beautifyAmount(commissionAffected, true)%>'
td(data-values='ras')!= '<%= _.beautifyAmount(ras, true)%>'
td(data-values='toPay')!= '<%= _.beautifyAmount(toPay)%>'