td(data-values='mode')!= '<%= updateSettlementMode() %>'
td(data-values='receipts')!= '<%= getReceipts() %>'
td(data-values='amount')!= '<%= _.beautifyAmount(amount, true) %>'
td(data-values='reference')!= '<%= reference %>'
td(data-values='bank')!= '<%= bank %>'
td(data-values='date')!= '<%= _.beautifyDate(date) %>'
