td(data-values='code')!= '<%= code %>'
td(data-values='coverName')!= '<%= coverName() %>'
td(data-values='amount')!= '<%= _.beautifyAmount(amount) %>'
td(data-values='commission')!= '<%= _.beautifyAmount(commission) %>'
td(data-values='calcCommission')!= '<%= _.beautifyAmount(calcCommission) %>'
td(data-values='percentComm')!= '<%= _.beautifyPercent(percentComm()) %>'
td.tkf-comm-title(data-values='commissionRaised')!= '<%= _.beautifyAmount(commissionRaised()) %>'
