td(data-values='userFullName')!= '<%= userFullName %>'
td(data-values='date')!= '<%= _.beautifyDate(date) %>'
td(data-values='actionDesc')!= '<%= actionDesc() %>'
td(data-values='comments')!= '<%= comments %>'
td(data-values='context')!= '<%= context %>'
