td(data-values='reference')
  a(href!= '#receipt/<%= reference %>/consult', title!= '<%= reference %>')
    button.btn.btn-link(type='button') <%= reference %>
td(data-values='pos')!= '<%= pos %>'
td(data-values='date')!= '<%= _.beautifyDate(date) %>'
td(data-values='contract')!= '<%= contract %>'
td(data-values='subscriberName')!= '<%= subscriberName %>'
td(data-values='total')!= '<%= _.beautifyAmount(total, true) %>'
td(data-values='due')!= '<%= _.beautifyAmount(due, true) %>'
td(data-values='totalCommission')!= '<%= _.beautifyAmount(totalCommission, true) %>'